<!--Página em HTML - Parte Web da Aplicação-->
<!-- @Author: prof. Nando Mendes -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Faggionni</title>
</head>
<body>
    <h1>Bem vindo aluno do 3°A</h1>
    <h2>Você esta no curso profissionalizante em Analise e Desenvolvimento de Sistemas.</h2>
    <br>
    <p>Nessa aula, iremos explorar alguns conceitos importantes:.</p>
    <br>
    <ul>
        <li>Criar um servidor Web simples;</li>
        <li>Entender as diferenças entre Aplicações Frontend e Backend;</li>
        <li>Desenvolver algumas habilidades de Desenvolvimento Backend;</li>
        <li>Aprender a utilizar a IA para auxiliar no Desenvolvimento de Software.</li>
        <li>Entender o que é o GitHub e como ele pode ser útil para o Controle e Versionamento de Código;</li>
        <li>Aprender como trabalhar em Equipe para desenvolver um Sistema.</li>
    </ul>
    <br>
    <p>Vamos começar a nossa jornada de aprendizado! Se tiver alguma dúvida, não hesite em perguntar.</p>
    <p>Boa sorte e aproveite a aula!</p>
    <br>
    <p><a href="https://www.instagram.com/peifaggioni/">Clique Aqui para conhecer melhor a sua escola.</a></p>
    <br>
    <button onclick="alert('Data/Hora calculada no Frontend, diretamente no navegador: ' + new Date().toLocaleString())">Hora Certa</button>
    <br><br>
    <small>Develop by: prof. Nando Mendes @ 2026</small>

</body>

</html>